.BookContainer {
    height: 40;
    background-color: rgb(255, 255, 255);
    padding: 2 8;
}

.BookTitle {
    font-size: 12;
    color: #434B5B;
}

.BookAuthor {
    font-size: 10;
    color: #F98735;
}

Image {
    margin: 1.25 2.5 0 2.5;
    border-radius: 0 5% 5% 0;
    color: white;
    background-color: white;
}