.scroll-pane {
    width: 200;
    margin: 10;
}

.BookContainer {
    background-color: rgb(255, 255, 255);
    padding: 2 8;
}

.BookTitle {
    font-size: 16;
    color: #434B5B;
}

.BookAuthor {
    font-size: 14;
    color: #F98735;;
}

Image {
    margin: 1.25 2.5 0 2.5;
    border-radius: 5;
}