.scroll-pane {
    width: 120;
    margin: 10;
}

Button {
    height: 40;
    width: 40;
    border-radius: 50%;
    background-color: #FF4082;
    background-repeat: no-repeat;
    background-position: center;
}

.BookContainer {
    background-color: rgb(255, 255, 255);
    padding: 2 8;
}

.BookTitle {
    font-size: 12;
    color: #434B5B;
}

.BookAuthor {
    font-size: 10;
    color: #F98735;;
}

Image {
    margin: 1.25 2.5 0 2.5;
    border-radius: 5;
}